p.calc-text {
	font-weight: bold;
	font-size:   125%;
}

table.calc-table {
	border: 1px solid black;
}

table.calc-table button {
	font-weight: bold;
}

button.calc-button-pressed {
	color: red;
}

button.calc-button-normal {
}

p.calc-value {
	border: 1px solid black;
	width: 120px;
	text-align:	right;
	padding-right: 3px;
}
